*~
*.dvi
Demystify-GPL-Enforcement/compliance.html
LF-EUS-2011/compliance.html
LibrePlanet-2011/nonprofit.html
*.aux
*.log
Indiana-Linux-Fest-2011/conservancy.html
Indiana-Linux-Fest-2011/conservancy.pdf
Indiana-Linux-Fest-2011/conservancy.ps
Indiana-Linux-Fest-2011/conservancy.tex
