*~
*.dvi
Demystify-GPL-Enforcement/compliance.html
LF-EUS-2011/compliance.html
LibrePlanet-2011/nonprofit.html
*.aux
*.log
LinuxCollaborationSummit-2011/compliance.html
LinuxCollaborationSummit-2011/compliance.pdf
LinuxCollaborationSummit-2011/compliance.ps
LinuxCollaborationSummit-2011/compliance.tex
Indiana-Linux-Fest-2011/conservancy.html
Indiana-Linux-Fest-2011/conservancy.pdf
Indiana-Linux-Fest-2011/conservancy.ps
Indiana-Linux-Fest-2011/conservancy.tex
LinuxFestNorthWest-2011/Compliance/compliance.html
LinuxFestNorthWest-2011/Compliance/compliance.pdf
LinuxFestNorthWest-2011/Compliance/compliance.ps
LinuxFestNorthWest-2011/Compliance/compliance.tex
LinuxFestNorthWest-2011/NetServices/netservices.html
LinuxFestNorthWest-2011/NetServices/netservices.pdf
LinuxFestNorthWest-2011/NetServices/netservices.ps
LinuxFestNorthWest-2011/NetServices/netservices.tex
LinuxFestNorthWest-2011/GPLv3/gplv3.html
LinuxFestNorthWest-2011/GPLv3/gplv3.pdf
LinuxFestNorthWest-2011/GPLv3/gplv3.ps
LinuxFestNorthWest-2011/GPLv3/gplv3.tex
LinuxFestNorthWest-2011/Conservancy/conservancy.pdf
LinuxFestNorthWest-2011/Conservancy/conservancy.ps
LinuxFestNorthWest-2011/Conservancy/conservancy.tex
LinuxFestNorthWest-2011/Conservancy/conservancy.html
Samba-XP-2011/compliance.html
Samba-XP-2011/compliance.pdf
Samba-XP-2011/compliance.ps
Samba-XP-2011/compliance.tex
LinuxTag-2011/compliance.html
LinuxTag-2011/compliance.pdf
LinuxTag-2011/compliance.ps
LinuxTag-2011/compliance.tex
OpenFOAM-2011/openfoam.html
OpenFOAM-2011/openfoam.out
OpenFOAM-2011/openfoam.pdf
OpenFOAM-2011/openfoam.ps
OpenFOAM-2011/openfoam.tex
OSCON-2011/compliance.html
OSCON-2011/compliance.out
OSCON-2011/compliance.pdf
OSCON-2011/compliance.ps
OSCON-2011/compliance.tex
OLF-2011/netservices.html
OLF-2011/netservices.pdf
OLF-2011/netservices.ps
OLF-2011/netservices.tex
OLF-2011/netservices.tex
SoC-Mentor-Summit-2011/npo.html
SoC-Mentor-Summit-2011/npo.out
SoC-Mentor-Summit-2011/npo.pdf
SoC-Mentor-Summit-2011/npo.ps
SoC-Mentor-Summit-2011/npo.tex
LinuxCon-Europe-2011/GPL-Compliance/compliance.html
LinuxCon-Europe-2011/GPL-Compliance/compliance.out
LinuxCon-Europe-2011/GPL-Compliance/compliance.pdf
LinuxCon-Europe-2011/GPL-Compliance/compliance.ps
LinuxCon-Europe-2011/GPL-Compliance/compliance.tex
LinuxCon-Europe-2011/Conservancy/conservancy.pdf
LinuxCon-Europe-2011/Conservancy/conservancy.ps
LinuxCon-Europe-2011/Conservancy/conservancy.tex
LinuxCon-Europe-2011/Conservancy/conservancy.html
NJIT-2011/liberate.html
NJIT-2011/liberate.out
NJIT-2011/liberate.pdf
NJIT-2011/liberate.ps
NJIT-2011/liberate.tex
SCALE-2012/compliance.html
SCALE-2012/compliance.out
SCALE-2012/compliance.pdf
SCALE-2012/compliance.ps
SCALE-2012/compliance.tex
PyCon-USA-2012/nonprofit.html
PyCon-USA-2012/nonprofit.out
PyCon-USA-2012/nonprofit.pdf
PyCon-USA-2012/nonprofit.ps
PyCon-USA-2012/nonprofit.tex
LinuxCollaborationSummit-2012/compliance.html
LinuxCollaborationSummit-2012/compliance.out
LinuxCollaborationSummit-2012/compliance.pdf
LinuxCollaborationSummit-2012/compliance.ps
LinuxCollaborationSummit-2012/compliance.tex
Evergreen-2012/conservancy.html
Evergreen-2012/conservancy.out
Evergreen-2012/conservancy.pdf
Evergreen-2012/conservancy.ps
Evergreen-2012/conservancy.tex
Samba-XP-2012/compliance.html
Samba-XP-2012/compliance.out
Samba-XP-2012/compliance.pdf
Samba-XP-2012/compliance.ps
Samba-XP-2012/compliance.tex
FOSSCON-2012/nonprofit.html
FOSSCON-2012/nonprofit.out
FOSSCON-2012/nonprofit.pdf
FOSSCON-2012/nonprofit.ps
FOSSCON-2012/nonprofit.tex
IPO-2012/ipo.html
IPO-2012/ipo.out
IPO-2012/ipo.pdf
IPO-2012/ipo.ps
IPO-2012/ipo.tex
