*~
*.dvi
Demystify-GPL-Enforcement/compliance.html
LF-EUS-2011/compliance.html
LibrePlanet-2011/nonprofit.html
*.aux
*.log
LinuxCollaborationSummit-2011/compliance.html
LinuxCollaborationSummit-2011/compliance.pdf
LinuxCollaborationSummit-2011/compliance.ps
LinuxCollaborationSummit-2011/compliance.tex
Indiana-Linux-Fest-2011/conservancy.html
Indiana-Linux-Fest-2011/conservancy.pdf
Indiana-Linux-Fest-2011/conservancy.ps
Indiana-Linux-Fest-2011/conservancy.tex
LinuxFestNorthWest-2011/Compliance/compliance.html
LinuxFestNorthWest-2011/Compliance/compliance.pdf
LinuxFestNorthWest-2011/Compliance/compliance.ps
LinuxFestNorthWest-2011/Compliance/compliance.tex
LinuxFestNorthWest-2011/NetServices/netservices.html
LinuxFestNorthWest-2011/NetServices/netservices.pdf
LinuxFestNorthWest-2011/NetServices/netservices.ps
LinuxFestNorthWest-2011/NetServices/netservices.tex
LinuxFestNorthWest-2011/GPLv3/gplv3.html
LinuxFestNorthWest-2011/GPLv3/gplv3.pdf
LinuxFestNorthWest-2011/GPLv3/gplv3.ps
LinuxFestNorthWest-2011/GPLv3/gplv3.tex
Samba-XP-2011/compliance.html
Samba-XP-2011/compliance.pdf
Samba-XP-2011/compliance.ps
Samba-XP-2011/compliance.tex
